<div>
  <nb-card class="header-container ">
    <nb-card-body>
      <img src="../../../assets/img/logotip-jkh-servis.png" width="400px" align="left" alt="ЖКХ">
      <div class="phones-container">
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><i class="icon ion-social-whatsapp-outline"></i><strong> 8-812-649-05-70</strong><br>         
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><i class="icon ion-social-whatsapp"></i><strong> 8-812-648-46-50</strong><br>
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><i class="icon ion-ios-telephone-outline"></i><strong> 8-812-649-46-50</strong><br>
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><strong> ЕЖЕДНЕВНО с 8.00 до 21.00</strong><br>
      </div>
    </nb-card-body>
  </nb-card>
  <nb-card class="header-container ">
    <nb-card-header>Стол объявлений</nb-card-header>
    <nb-card-body>
      <div class="card-row">
        <div class="card-col">
      <nb-card size="Small card" accent="danger">
        <nb-card-header><nb-icon icon="info-outline" status="danger" pack="eva"></nb-icon> Уважаемые жильцы!</nb-card-header>
        <nb-card-body>
          С 01.01.2022 аавыавывыа<br>
          ывавыавыа<br>
          ываываыва<br>
          выаыва<br>
          выаываыва<br>
          ываываыва<br>
          С 01.01.2022 аавыавывыа<br>
          ывавыавыа<br>
          ываываыва<br>
          выаыва<br>
          выаываыва<br>
          ываываыва<br>
        </nb-card-body>

      </nb-card>
      </div>
    <div class="card-col">
      <nb-card size="Small card" accent="primary">
        <nb-card-header><nb-icon icon="info-outline" status="primary" pack="eva"></nb-icon> Уважаемые жильцы!</nb-card-header>
      </nb-card>
    </div>
      </div>
      <div class="card-row">
        <div class="card-col">
      <nb-card size="Small card" accent="danger">
        <nb-card-header><nb-icon icon="info-outline" status="danger" pack="eva"></nb-icon> Уважаемые жильцы!</nb-card-header>
        <nb-card-body>
          С 01.01.2022 аавыавывыа<br>
          ывавыавыа<br>
          ываываыва<br>
          выаыва<br>
          выаываыва<br>
          ываываыва<br>
          С 01.01.2022 аавыавывыа<br>
          ывавыавыа<br>
          ываываыва<br>
          выаыва<br>
          выаываыва<br>
          ываываыва<br>
          С 01.01.2022 аавыавывыа<br>
          ывавыавыа<br>
          ываываыва<br>
          выаыва<br>
          выаываыва<br>
          ываываыва<br>
        </nb-card-body>
      </nb-card>
      </div>
    <div class="card-col">
      <nb-card size="Small card" accent="primary">
        <nb-card-header><nb-icon icon="info-outline" status="primary" pack="eva"></nb-icon> Уважаемые жильцы!</nb-card-header>
      </nb-card>
    </div>
      </div>
    </nb-card-body>
  </nb-card>
  <div class="card-row">
    <div class="card-col">
    <nb-card size="Small card">
      <nb-card-header>Сервисные службы</nb-card-header>
      <nb-card-body>
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><strong> 8-812-649-05-70</strong><br>         
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><strong> 8-812-648-46-50</strong><br>
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><strong> 8-812-649-46-50</strong><br>
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><strong> ЕЖЕДНЕВНО с 8.00 до 21.00</strong><br>
      </nb-card-body>
    </nb-card>
    </div>
    <div class="card-col">
    <nb-card size="Small card">
      <nb-card-header>Службы спасения</nb-card-header>
      <nb-card-body>
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><strong> 112 — Единый номер службы экстренных вызовов Санкт‑Петербурга для звонков с сотовых телефонов в экстренных ситуациях (можно звонить даже без сим-карты, без денег на счете и с заблокированной клавиатурой телефона).</strong><br>         
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><strong> 004 - Центр по приему обращений граждан по вопросам ЖКХ, нештатных ситуаций в городе, а также приём сообщений от детей, подвергающихся насилию в семье и за ее пределами или попавших в сложную жизненную ситуацию.</strong><br>
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><strong> 8-812-649-46-50</strong><br>
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><strong> ЕЖЕДНЕВНО с 8.00 до 21.00</strong><br>
      </nb-card-body>
    </nb-card>
  </div>
  </div>
  <form [formGroup]="infoForm" novalidate (ngSubmit)="onSubmit()">
    <nb-card size="Small card" [accent]="selectedOption">
      <nb-card-header><nb-icon icon="info-outline" [status]="selectedOption" pack="eva"></nb-icon>{{titleName.value}}</nb-card-header>
      <nb-card-body>
    <!-- <div class="form-group"> -->
        <label>Заголовок</label>
        <input nbInput fullWidth class="form-control" name="title" formControlName="titleName" #titleName/>
    <!-- </div> -->
    <div class="form-group">
        <label>Информация</label>
        <!-- <input nbInput class="form-control" name="info" formControlName="info" /> -->
        <textarea
  nbInput
  fullWidth
  name="info"
  cdkTextareaAutosize
  type="text"
  formControlName="info"
  [readonly]="false"
></textarea>
<!--           
        <div class="alert alert-danger"
            *ngIf="infoForm.controls['userEmail'].invalid && infoForm.controls['userEmail'].touched">
            Некорректный email
        </div> -->
    </div>
    <div class="form-group">
      <label>Выбирите статус</label>
      <nb-radio-group style="display: flex" [(ngModel)]="selectedOption" name="status" formControlName="infoStatus">
        <nb-radio value="danger" class="status-danger" checked>Option 1</nb-radio>
        <nb-radio value="warning" class="status-warning">Option 2</nb-radio>
        <nb-radio value="primary" class="status-primary">Option 3</nb-radio>
      </nb-radio-group>
      <!-- <input class="form-control" name="status" formControlName="infoStatus" /> -->
  </div>
    <div class="form-group">
      <label style="width: 100%">Показывать пользователю</label>
      <nb-checkbox status="primary" name="catVisible"
      formControlName="catVisible">{{infoForm.get('catVisible').value ? "Пользователь видит карточку" : "Пользователь не видит карточку"}}</nb-checkbox>
  </div>
  <div class="form-group">
    <label>Время показа карточки</label>
    <!-- <input class="form-control" name="delay" formControlName="infoDelay" /> -->
</div>

  </nb-card-body>
</nb-card>
    <div class="form-group">
        <button class="btn btn-default" [disabled]="infoForm.invalid">
            Отправить
        </button>
    </div>
</form>
</div>
