<div>
  <nb-card class="header-container ">
    <nb-card-body>
      <img src="../../../assets/img/logotip-jkh-servis.png" width="400px" align="left" alt="ЖКХ">
      <div class="phones-container">
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><i class="icon ion-social-whatsapp-outline"></i><strong> 8-812-649-05-70</strong><br>         
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><i class="icon ion-social-whatsapp"></i><strong> 8-812-648-46-50</strong><br>
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><i class="icon ion-ios-telephone-outline"></i><strong> 8-812-649-46-50</strong><br>
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><strong> ЕЖЕДНЕВНО с 8.00 до 21.00</strong><br>
      </div>
    </nb-card-body>
  </nb-card>
  <nb-card class="header-container ">
    <nb-card-header>Стол объявлений</nb-card-header>
    <nb-card-body>
      <div class="card-row">
        <div class="card-col">
      <nb-card size="Small card" accent="danger">
        <nb-card-header><nb-icon icon="info-outline" status="danger" pack="eva"></nb-icon> Уважаемые жильцы!</nb-card-header>
        <nb-card-body>
          С 01.01.2022 аавыавывыа<br>
          ывавыавыа<br>
          ываываыва<br>
          выаыва<br>
          выаываыва<br>
          ываываыва<br>
          С 01.01.2022 аавыавывыа<br>
          ывавыавыа<br>
          ываываыва<br>
          выаыва<br>
          выаываыва<br>
          ываываыва<br>
        </nb-card-body>

      </nb-card>
      </div>
    <div class="card-col">
      <nb-card size="Small card" accent="primary">
        <nb-card-header><nb-icon icon="info-outline" status="primary" pack="eva"></nb-icon> Уважаемые жильцы!</nb-card-header>
      </nb-card>
    </div>
      </div>
      <div class="card-row">
        <div class="card-col">
      <nb-card size="Small card" accent="danger">
        <nb-card-header><nb-icon icon="info-outline" status="danger" pack="eva"></nb-icon> Уважаемые жильцы!</nb-card-header>
        <nb-card-body>
          С 01.01.2022 аавыавывыа<br>
          ывавыавыа<br>
          ываываыва<br>
          выаыва<br>
          выаываыва<br>
          ываываыва<br>
          С 01.01.2022 аавыавывыа<br>
          ывавыавыа<br>
          ываываыва<br>
          выаыва<br>
          выаываыва<br>
          ываываыва<br>
          С 01.01.2022 аавыавывыа<br>
          ывавыавыа<br>
          ываываыва<br>
          выаыва<br>
          выаываыва<br>
          ываываыва<br>
        </nb-card-body>
      </nb-card>
      </div>
    <div class="card-col">
      <nb-card size="Small card" accent="primary">
        <nb-card-header><nb-icon icon="info-outline" status="primary" pack="eva"></nb-icon> Уважаемые жильцы!</nb-card-header>
      </nb-card>
    </div>
      </div>
    </nb-card-body>
  </nb-card>
  <div class="card-row">
    <div class="card-col">
    <nb-card size="Small card">
      <nb-card-header>Сервисные службы</nb-card-header>
      <nb-card-body>
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><strong> 8-812-649-05-70</strong><br>         
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><strong> 8-812-648-46-50</strong><br>
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><strong> 8-812-649-46-50</strong><br>
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><strong> ЕЖЕДНЕВНО с 8.00 до 21.00</strong><br>
      </nb-card-body>
    </nb-card>
    </div>
    <div class="card-col">
    <nb-card size="Small card">
      <nb-card-header>Службы спасения</nb-card-header>
      <nb-card-body>
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><strong> 112 — Единый номер службы экстренных вызовов Санкт‑Петербурга для звонков с сотовых телефонов в экстренных ситуациях (можно звонить даже без сим-карты, без денег на счете и с заблокированной клавиатурой телефона).</strong><br>         
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><strong> 004 - Центр по приему обращений граждан по вопросам ЖКХ, нештатных ситуаций в городе, а также приём сообщений от детей, подвергающихся насилию в семье и за ее пределами или попавших в сложную жизненную ситуацию.</strong><br>
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><strong> 8-812-649-46-50</strong><br>
        <nb-icon nbPrefix icon="phone" status="primary" pack="eva"></nb-icon><strong> ЕЖЕДНЕВНО с 8.00 до 21.00</strong><br>
      </nb-card-body>
    </nb-card>
  </div>
  </div>
</div>
