@import '../../@theme/styles/themes';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .header-container {
    display: flex;
    align-items: stretch;
    width: 100%;

    .phones-container{
      text-align: end;
    }
  }
  .logo-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .card-row {
    display: flex;
    margin: 0 -0.5rem;
  }
  .card-col {
    flex: 1 0 calc(50% - 1rem);
    margin: 0 0.5rem;
  }
}
.auto-textarea {
  width: 100%;
  border-style: hidden;
  background: nb-theme(background-basic-color-1);
}
.auto-textarea:focus {
  outline: none;
  background: nb-theme(background-basic-color-1);
}
.auto-textarea:hover {
  background: nb-theme(background-basic-color-1);
}