<nb-card style="padding: 10px">
  <nb-card-header>Заполните необходимую информацию</nb-card-header>
  <nb-card-body>
    <nb-stepper #stepper>
      <!-- <nb-step [stepControl]="sityForm" label="Город">
        <form
          [formGroup]="sityForm"
          (ngSubmit)="onsitySubmit()"
          class="step-container"
        >
          <p class="lorem">Выберите город</p>
          <div class="input-group">
            <input
              #autoInputSity
              nbInput
              type="text"
              style="max-width: 100%"
              placeholder="Выберите город"
              class="form-control"
              formControlName="sityCtrl"
              (input)="onChangeSity()"
              [nbAutocomplete]="selectSity"
              [ngClass]="{
                'form-control-danger':
                  sityForm.invalid && (sityForm.dirty || sityForm.touched)
              }"
            />

            <nb-autocomplete
              #selectSity
              (selectedChange)="onSelectionChangeSity($event)"
            >
              <nb-option
                *ngFor="let option of filteredOptionsSity$ | async"
                [value]="option"
              >
                {{ option }}
              </nb-option>
            </nb-autocomplete>
          </div>
          <button nbButton nbStepperNext>Дальше</button>
        </form>
      </nb-step> -->
      <nb-step [stepControl]="districtForm" label="Район">
        <form
          [formGroup]="districtForm"
          (ngSubmit)="ondistrictSubmit()"
          class="step-container"
        >
          <p class="lorem">Выберите район</p>
          <div class="input-group">
            <input
              #autoInputDistrict
              nbInput
              type="text"
              style="max-width: 100%"
              placeholder="Выберите район"
              class="form-control"
              formControlName="districtCtrl"
              (input)="onChangeDistrict()"
              [nbAutocomplete]="selectDistrict"
              [ngClass]="{
                'form-control-danger':
                districtForm.invalid && (districtForm.dirty || districtForm.touched)
              }"
            />

            <nb-autocomplete
              #selectDistrict
              (selectedChange)="onSelectionChangeDistrict($event)"
            >
              <nb-option
                *ngFor="let option of filteredOptionsDistricts$ | async"
                [value]="option"
              >
                {{ option }}
              </nb-option>
            </nb-autocomplete>
          </div>
          <button nbButton nbStepperNext>Дальше</button>
        </form>
      </nb-step>
      <nb-step [stepControl]="streetForm" label="Улицу">
        <form
          [formGroup]="streetForm"
          (ngSubmit)="onstreetSubmit()"
          class="step-container"
        >
          <p class="lorem">Выберите улицу</p>
          <div class="input-group">
            <input
              #autoInputStreet
              nbInput
              type="text"
              style="max-width: 100%"
              placeholder="Выберите улицу"
              class="form-control"
              formControlName="streetCtrl"
              (input)="onChangeStreet()"
              [nbAutocomplete]="selectStreet"
              [ngClass]="{
                'form-control-danger':
                  streetForm.invalid && (streetForm.dirty || streetForm.touched)
              }"
            />

            <nb-autocomplete
              #selectStreet
              (selectedChange)="onSelectionChangeStreet($event)"
            >
              <nb-option
                *ngFor="let option of filteredOptionsStreet$ | async"
                [value]="option"
              >
                {{ option }}
              </nb-option>
            </nb-autocomplete>
          </div>
          <div class="button-group">
            <button nbButton nbStepperNext>Дальше</button>
            <button nbButton nbStepperPrevious>Назад</button>
          </div>
        </form>
      </nb-step>
      <nb-step [stepControl]="houseForm" label="Дом">
        <form
          [formGroup]="houseForm"
          (ngSubmit)="onhouseSubmit()"
          class="step-container"
        >
          <p class="lorem">Выберите дом, если есть корпус и/или литера, укажите их.</p>
          <div class="input-group">
            <input
              #autoInputHouse
              nbInput
              type="number"
              min="1"
              style="max-width: 100%"
              placeholder="Выберите дом"
              class="form-control"
              formControlName="houseCtrl"
              (input)="onChangeHouse()"
              [nbAutocomplete]="selectHouse"
              [ngClass]="{
                'form-control-danger':
                  houseForm.invalid && (houseForm.dirty || houseForm.touched)
              }"
            />
            <input
              nbInput
              type="number"
              min="1"
              placeholder="Укажите корпус"
              class="form-control"
              formControlName="korpusCtrl"
            />
            <input
              nbInput
              placeholder="Литера"
              class="form-control"
              formControlName="literCtrl"
            />
            <nb-autocomplete
              #selectHouse
              (selectedChange)="onSelectionChangeHouse($event)"
            >
              <nb-option
                *ngFor="let option of filteredOptionsHouse$ | async"
                [value]="option"
              >
                {{ option }}
              </nb-option>
            </nb-autocomplete>
          </div>
          <div class="button-group">
            <button nbButton nbStepperNext>Дальше</button>
            <button nbButton nbStepperPrevious>Назад</button>
          </div>
        </form>
      </nb-step>
      <nb-step [stepControl]="houseForm2" label="Парадная">
        <form
          [formGroup]="houseForm"
          class="step-container"
        >
          <p class="lorem">Для более точного подбора сведений, укажите парадную.</p>
          <div class="input-group">
            <input
              nbInput
              type="text"
              style="max-width: 100%"
              placeholder="Укажите парадную"
              class="form-control"
              formControlName="EntranceCtrl"
            />
          </div>
          <div class="button-group">
            <button nbButton nbStepperPrevious>Назад</button>
            <button nbButton (click)="onSave()">Отправить</button>
          </div>
        </form>
      </nb-step>
      <!-- <nb-step [stepControl]="houseForm" [hidden]="true" label="house step">
        <div class="step-container">
          <h3>Успешно!</h3>
          <button nbButton (click)="stepper.reset()">Войти</button>
        </div>
      </nb-step> -->
    </nb-stepper>
  </nb-card-body>
</nb-card>
