@import '../../@theme/styles/themes.scss';

@include nb-install-component() {
table {
    width: 100%;
    background: nb-theme(card-body-color);
    th, td { padding: 0 0.5em; color: nb-theme(card-text-color);}
  }

  .mat-paginator-range-label {
      display: none;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  
  /* Border */
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(255, 255, 255);
    /* background-color: white; */
  }
  /* Font color */
  input.mat-input-element {
    color: nb-theme(card-text-color);
  }
  .positionBtn {
    justify-content: flex-end;
  }
  .addBtn {
    padding-right: 14px;
  }
  .saveBtn {
    position: absolute;
    right: 0;
    margin-right: 18px;
    min-width: 115px;
  }
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 10px;
  }
}