<div class="mat-elevation-z8">
    <nb-card class="header-container ">
    <nb-card-footer>
      <button><mat-icon (click)="AddNewRow()" class="add-button">add_box</mat-icon></button>
    </nb-card-footer>    
    <br />
    <nb-card-header>
        <mat-form-field style="width: 40%">
          <mat-label>Фильтр</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
        </mat-form-field>
        <mat-form-field style="width: 20%; float: right;">
          <mat-label>Go to Page</mat-label>
          <input matInput type="number" placeholder="Enter page number" [(ngModel)]="pageNumber" (ngModelChange)="goToPage()">
        </mat-form-field>
    </nb-card-header>
    <form [formGroup]="VOForm" autocomplete="off">
      <ng-container formArrayName="VORows">
        <table #table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> № п/п </th>
            <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
              <mat-form-field style="width: 70px;" appearance="none">
                <input matInput type="text" formControlName="position" [readonly]="true">
              </mat-form-field>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Наименование услуги (работы) </th>
            <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
  
              <!-- <span [hidden]="VOForm.get('VORows').value[i].isEditable"> -->
              <mat-form-field style="width: 70px;"
                [appearance]="VOForm.get('VORows').value[i].isEditable? 'none' : 'legacy'">
                <input matInput type="text" formControlName="name" [readonly]="VOForm.get('VORows').value[i].isEditable">
              </mat-form-field>
              <!-- </span> -->
  
            </td>
          </ng-container>
  
          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> За 1 кв.м общей плащади жилого помещения, руб. в месяц </th>
            <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
              <!-- [appearance]="true ? 'outline': 'fill'" -->
              <!-- <span [hidden]="VOForm.get('VORows').value[i].isEditable"> -->
              <mat-form-field style="width: 70px;"
                [appearance]="VOForm.get('VORows').value[i].isEditable? 'none' : 'legacy'">
                <input matInput type="text" formControlName="weight" [readonly]="VOForm.get('VORows').value[i].isEditable">
              </mat-form-field>
              <!-- </span> -->
            </td>
          </ng-container>
  
          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> За 1 кв.м общей плащади комнат в общежитиях, руб. в месяц  </th>
            <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
              <!-- <span [hidden]="VOForm.get('VORows').value[i].isEditable"> -->
              <mat-form-field style="width: 70px;"
                [appearance]="VOForm.get('VORows').value[i].isEditable? 'none' : 'legacy'">
                <input matInput type="text" formControlName="symbol" [readonly]="VOForm.get('VORows').value[i].isEditable">
              </mat-form-field>
              <!-- </span> -->
            </td>
          </ng-container>
  
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
                <!-- <nb-action size="medium">
                <nb-action>
                    <nb-icon icon="trash-2-outline" status="primary" (click)="AddNewRow()" nbTooltip="Добавить"></nb-icon>
                </nb-action>
            </nb-action> -->
            <!-- <label>Редактировать</label> -->
            <nb-actions class="positionBtn" size="medium">
                <nb-action class="addBtn" (click)="AddNewRow()" nbTooltip="Добавить">
                    <nb-icon status="success" icon="plus-square"></nb-icon>
                </nb-action>
                <!-- <nb-action nbTooltip="Удалить"><nb-icon status="danger" icon="trash-2-outline"></nb-icon></nb-action> -->
              </nb-actions>
             </th>
            <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
              <nb-actions class="positionBtn" size="small">
                  <nb-action *ngIf="!VOForm.get('VORows').value[i].isEditable" (click)="SaveVO(VOForm,i)" nbTooltip="Сохранить" >
                    <nb-icon  status="success" icon="checkmark-circle-2-outline"></nb-icon>
                  </nb-action>
                  <nb-action *ngIf="!VOForm.get('VORows').value[i].isEditable" (click)="CancelSVO(VOForm,i)" nbTooltip="Отмена" >
                    <nb-icon  status="danger" icon="close-circle-outline"></nb-icon>
                  </nb-action>                 
              </nb-actions>
              <nb-actions class="positionBtn" size="small">
                <nb-action *ngIf="VOForm.get('VORows').value[i].isEditable" (click)="EditSVO(VOForm,i)" nbTooltip="Редактировать">
                    <nb-icon status="primary" icon="edit-outline"></nb-icon>
                </nb-action>
                <nb-action *ngIf="VOForm.get('VORows').value[i].isEditable" nbTooltip="Удалить"><nb-icon status="danger" icon="trash-2-outline"></nb-icon></nb-action>
              </nb-actions>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Нет данных по запросу "{{input.value}}"</td>
          </tr>
        </table>
      </ng-container>
    </form>
    <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
     <mat-progress-spinner 
      color="primary" 
      mode="indeterminate">
     </mat-progress-spinner>
    </mat-card>
  
    <!-- <mat-paginator-goto [length]="100" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="paginationChange($event)"></mat-paginator-goto> -->
    <mat-paginator [pageSizeOptions]="[10, dataSource.data.length>12? dataSource.data.length:''  ]" showFirstLastButtons>
    </mat-paginator>
    </nb-card>  
  </div>